server:
  port: 8081

spring:
  servlet:
    multipart:
      max-file-size: 5MB
      max-request-size: 5MB
  datasource:
    url: jdbc:mariadb://localhost:3306/matar_textiles
    username: ia
    password: foufafou
    driver-class-name: org.mariadb.jdbc.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    defer-datasource-initialization: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MariaDBDialect
        format_sql: true
  sql:
    init:
      mode: always

app:
  upload:
    dir: /opt/matartextiles/uploads
  jwt:
    secret: MatarTextilesSecretKeyForJwtTokenGeneration2024VeryLongAndSecure
    expiration: 86400000
